body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 20px;
}

h1, h2 {
    color: #343a40;
}

input[type="text"] {
    padding: 10px;
    border: 1px solid #ced4da;
    border-radius: 5px;
    width: calc(100% - 22px - 80px);
    margin-right: 10px;
    box-sizing: border-box;
}

button {
    padding: 10px 15px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #0056b3;
}

.card {
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    border-radius: 8px;
    padding: 20px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.card h3 {
    margin: 0;
    color: #333;
    font-size: 24px;
}

.card p {
    margin: 10px 0;
    color: #666;
}

#results, #playlist {
    margin-top: 20px;
}

.removeBtn {
    padding: 5px 10px;
    background-color: #dc3545;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    align-self: start;
    margin-top: 10px;
}

.removeBtn:hover {
    background-color: #c82333;
}

.addBtn {
    padding: 5px 10px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    align-self: start;
    margin-top: 10px;
}

.addBtn:hover {
    background-color: #218838;
}

#searchInput {
    flex-grow: 1;
}

@media (max-width: 600px) {
    input[type="text"], button {
        width: 100%;
        margin: 5px 0;
    }
}
